
@{
    ViewData["Title"] = "Index";
}

<h1>Cibertec</h1>
<div class="wrapper">
    <article class="wrapper-item"><img src="~/img/computador.png" alt="Alternate Text" /></article>
    <article class="wrapper-item"><img src="~/img/computador.png" alt="Alternate Text" /></article>
    <article class="wrapper-item"><img src="~/img/computador.png" alt="Alternate Text" /></article>
    <article class="wrapper-item"><img src="~/img/computador.png" alt="Alternate Text" /></article>
    <article class="wrapper-item"><img src="~/img/computador.png" alt="Alternate Text" /></article>
    <article class="wrapper-item"><img src="~/img/computador.png" alt="Alternate Text" /></article>
</div>
